.card {
    .panel-heading {
        background-color: white;
        color: gray;
        padding: 6px;

        .title {
            font-size: 18px;
            padding: 0px;
            margin: 0px;
        }

        .metadata {
            line-height: 10px;
            font-size: 0.8em;
        }
    }

    .description {
        white-space: pre-wrap;
    }
}

