.poll {
    .description {
        white-space: pre-wrap;
    }

    .panel-heading {
        padding: 8px;
    }

    .title {
        font-size: 18px;
        padding: 0px;
        margin: 0px;
    }

    .metadata {
        font-size: 12px;
        text-align: right;
    }
}

