.votebuttons {
    margin-left: 0.4em;
    padding-right: 0.5em;
    margin-right: 0.5em;
    text-align: center;

    border: 1px #CCC solid;
    border-width: 0 1px 0 0;

    div {
        padding: 0;
    }

    .button {
        font-size: 0.9em;
        line-height: 0.8;
    }

    #points {
        font-size: 0.9em;
        line-height: 1.0em;
    }

    #up, #down {
        cursor: pointer;
    }

    #up:hover {
        color: #0F0;
    }

    #down:hover {
        color: red;
    }

    #up {
        padding-left: 1px;
    }
}
