@import 'mixins';
@import 'login';
@import 'poll';
@import 'slider';

$footer_height: 140px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer_height+20;
}

.dark {
  color: #EEE;
  background-color: #222;
  border: 0 #000 solid;

  p {
    text-shadow: 0 1px 3px #000;
  }

  .form-control {
    @extend .dark;
    background-color: #000;
    border: 1px solid #999;
  }
}

.dark-topshadow {
  @extend .dark;
  box-shadow: inset 0 15px 30px -10px #000;
}

.dark-bottomshadow {
  @extend .dark;
  box-shadow: inset 0px -15px 30px -10px #000;
}

.col-center {
  margin: 0 auto;
  float: none;
}

.footer {
  @extend .dark-topshadow;
  position: absolute;
  padding-top: 20px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer_height;
  border-top-width: 2px;
}

.profile-thumbnail {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin-top: -8px;
  margin-bottom: -10px;
  margin-right: 8px;
  border: 1px #888 solid;
  border-radius: 100%;
  background-size: cover;
}

.box {
  border: 1px #AAA solid;
  border-radius: 5px;
  padding: 10px;
}

.console {
  background-color: #000;
  color: #0F0;
  padding: 5px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.profile {
  .image {
    border: 1px solid #777;
    border-radius: 10px;
    width: 100%;
  }
}

.loading {
  @include fadein(1s);
  text-align: center;
  font-size: 3em;
  color: #777;
}

.hover-opacity {
  opacity: 0.8;
  -webkit-transition: all .3s ease; /* Fade to color for Chrome and Safari */
}

.hover-opacity:hover {
  opacity: 1.0;
  color: #000;
}

.logo {
  @extend .hover-opacity;
  padding-top: 13px;
  opacity: 0.7;

  // TODO: Use some browser prefix helper, like Bourbon (http://bourbon.io/)
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: #{"grayscale(25%)"}; /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .3s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */

  .image {
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-top: -5px;
  }

  .title {
    color: #333;
    display: inline-block;
    margin-left: 8px;
  }
}

.logo:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: #{"grayscale(0%)"};
}

.navbar-default .nav {
  li {
    a {
      @extend .hover-opacity;
      color: #444;
    }
  }
}
