<html ng-app="FutarchioApp">
  <head>
    <title>Futarchio</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css"></script>

    <!-- Basic stuff, jQuery+Bootstrap+lodash/underscore -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.compat.min.js"></script>

    <!-- Angular stuff -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-cookies.js"></script>
    <script src="//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>

    <!-- Custom stuff, concatenated and minified by gulp -->
    <script src="/all.min.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55690586-1', 'auto');
      ga('send', 'pageview');
    </script>

  </head>
  <body ng-controller="MainController">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/#/" ng-class="{'active': location.path() == '/'+page.url}">Futarchio</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ng-repeat="link in links_left" ng-class="{'active': location.path() == '/'+link.url}">
              <a href="/#/{{link.url}}">
                {{link.title}}
                <span ng-if="link.beta" class=badge style="background-color: green;">
                  &beta;
                </span>
                <span ng-if="link.alpha" class=badge style="background-color: red">
                  &alpha;
                </span>
              </a>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right" ng-if="user.is_logged_in()">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications <span class="badge">0</span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Not completed</a></li>
                <li><a href="#">Mark all as read</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <div class="profile-thumbnail" style="background-image: url('http://www.gravatar.com/avatar/{{user.gravatar_hash()}}?p=24')">
                </div>
                My Account <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/#/profile">Profile</a></li>
                <li><a href="/#/stats">Stats</a></li>
                <li><a href="/#/messages">Messages</a></li>
                <li><a href="/#/settings">Settings</a></li>
                <li><a href="/#/admin">Admin</a></li>
                <li class="divider"></li>
                <li><a href="/#/logout">Log out</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-if="!user.is_logged_in()">
            <li><a href="/#/signup">Sign up</a></li>
            <li><a href="/#/login">Login</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class=container>
      <div ng-view></div>

      <div class="row ">
        <div class="col-md-12">
          <hr>
          <b>Debug info</b>
          <br>
          Route location: <code>{{location.path()}}</code><br>
          Something something, <code>darkside</code>
        </div>
      </div>

    </div>


    <div class="footer">
      <div class=container>
        <div class="col-md-4">
          About
          <ul>
            <li>Our Goal/Why</li>
            <li>Jobs</li>
          </ul>
        </div>
        <div class="col-md-4">
          Help
          <ul>
            <li>What is a prediction market?</li>
            <li>How anonymous is my vote?</li>
          </ul>
        </div>
        <div class="col-md-4">
            <a href="http://facebook.com/Futarchio">Facebook</a>,
            <a href="http://twitter.com/futarchio">Twitter</a>,
            <a href="https://plus.google.com/101725812209925735885/">Google+</a>

            <br>
            <br>

          Contact
          <ul>
            <li>Support: support@futarch.io</li>
            <li>Feedback: feedback@futarch.io</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
