<div class="container">
  <div class="col-md-6 col-md-offset-3" ng-controller="NewPollController">
    <div ng-show="title" class="slide" style="margin-bottom: 1.0em;">
      <button class="btn" ng-click="title = ''">Cancel</button>
    </div>

    <input class="form-control input-md" style="margin-bottom: 0.3em;" ng-disabled="!user.is_logged_in()" type=text placeholder="{{user.is_logged_in() && 'Enter a good question here' || 'You need to be logged in to create a new question'}}" ng-model="title"></input>


    <div ng-show="title" class="slide">
      <br>
      <textarea class="form-control input" style="margin-bottom: 0.9em;" placeholder="Your good description goes here" ng-model="description"></textarea>

      <div class=row>
        <div class="col-sm-6">
          <small style="text-align: center; display: block;">Voting options</small>
          <select class="form-control input-sm" ng-model="type">
            <option value="YesNoPoll">Yes or No</option>
            <option value="SinglechoicePoll" disabled>Single Choice</option>
            <option value="MultichoicePoll" disabled>Multiple Choice</option>
            <option value="WeightPoll" disabled>Weights</option>
            <option value="RatingPoll" disabled>1 to 10</option>
          </select>
        </div>

        <div class="col-sm-6">
          <small style="text-align: center; display: block;">Vote privacy (Not done)</small>
          <select disabled class="form-control input-sm">
            <option>Anonymous</option>
            <option>Public</option>
          </select>
        </div>

        <div style="margin-top: 2em">
          <br>
          <br>
          <div class="col-xs-5 col-md-2 col-xs-offset-1 col-md-offset-4">
            <button class="btn" style="width: 100%" ng-click="title = ''">Cancel</button>
          </div>
          <div class="col-xs-5 col-md-2">
            <button class="btn btn-success" style="width: 100%" ng-click="createPoll()">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin: 2em 0 2em 0;">
  </div>

  <div class="col-md-8 col-md-offset-2">
    <div ng-controller="PollsController">
      <div ng-if="polls.length == 0">
        <h3><center>No results</center></h3>
      </div>
      <div ng-repeat="poll in polls" class="poll">
        <ng-include src="'/static/poll.html'"></ng-include>
      </div>
    </div>
  </div>
</div>
