<div class="col-md-9">
  <h1>Polls</h1>
</div>

<div class="col-md-8" ng-controller="PollsController">
  <div ng-if="polls.length == 0">No results</div>
  <div ng-repeat="poll in polls" class="poll">
    <div ng-controller="PollController" class="panel panel-default">
      <div class="panel-heading" ng-click="poll.show = !poll.show" style="cursor: pointer">
        <div class=row>
          <div class="col-md-5">
            <span class="title">{{poll.title}}</span>
          </div>

          <div class="col-md-2" style="text-align: center; color: #AAA; font-size: 15px; margin-top: 10px;">
            <span ng-class="{'glyphicon-chevron-up': poll.show, 'glyphicon-chevron-down': !poll.show}" class="glyphicon"></span>
          </div>

          <div class="col-md-5">
            <div class="metadata">
              <b>Created by</b> <a ng-href="/#/profile/{{poll.creator}}">{{poll.creator}}</a>
              <br>
              <time>{{time}}</time>
            </div>
          </div>
        </div>
      </div>

      <div class=panel-body ng-show="poll.show">

        <div ng-show="voted" class="col-md-4"></div>
        <div ng-show="voted" class="col-md-4">
          <div class="col-md-6">
            <button style="width: 100%" class="btn btn-success" ng-click="vote(true)">Yes</button>
          </div>
          <div class=col-md-6>
            <button style="width: 100%" class="btn btn-danger" ng-click="vote(false)">No</button>
          </div>
        </div>
        <div ng-show="voted" class="col-md-4"></div>

        <div ng-show="voted" class=col-md-12>
        <hr>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{t}}" aria-valuemin="0" aria-valuemax="100" style="width: {{trues}}%">
              {{trues}}%
            </div>
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{f}}" aria-valuemin="0" aria-valuemax="100" style="width: {{falses}}%">
              {{falses}}%
            </div>
          </div>
          <div>
            Votes: {{votes}}<br>
            Rating: {{rating}}
          </div>
        </div>
      </div>
    </div>
</div>

  </div>

<div class="col-md-4" ng-controller="NewPollController">

  <p><b>Create Poll</b></p>
  <br>

  <input class="form-control input-lg" style="margin-bottom: 0.3em;" type=text placeholder="Enter a good question here" ng-model="title"></input>
  <br>

  <div class=row>
    <div class="col-sm-6">
      <small style="text-align: center; display: block;">Voting options</small>
      <select class="form-control input-sm" ng-model="type">
        <option value="YesNoPoll">Yes or No</option>
        <option disabled>1 to 10</option>
      </select>
    </div>

    <div class="col-sm-6">
      <small style="text-align: center; display: block;">Vote privacy (Not done)</small>
      <select disabled class="form-control input-sm">
        <option>Anonymous</option>
        <option>Public</option>
      </select>
    </div>
  </div>
  <br>
  <br>

  <button class="center-block btn btn-success" ng-click="createPoll()">
    Submit
  </button>

  <hr>

  Sidebar goes here

</div>

