<div class="form-signin" role="form" ng-controller="SignupController">
  <div ng-if="error" class="alert alert-danger">
    <b>Error!</b> {{error|capitalize}}
  </div>

  <input type="username" class="form-control" placeholder="Your Cool Username" required="" autofocus="" ng-model="username">
  <input type="password" class="form-control" placeholder="A Good Password" required="" ng-model="password">
  <input type="email" name=email class="form-control" placeholder="Your Email" required="" ng-model="email">
  <button class="btn btn-lg btn-success btn-block" ng-disable="signing_up" type="submit" ng-click="signup()">Sign up!</button>
</div>
