<template name="card">
<div class="row">
  <div class="card panel panel-default">
    <div>
      <div class="row panel-heading">
        <div class="col-md-8">
          <span class="title">{{title}}</span>

          <div class="points">
            {{points _id}} points
          </div>
        </div>

        <div class="col-md-4">
          <div class="metadata">
            <b>Created by</b> {{> userlink userid=createdBy}}
            <br>
            <a href="/{{type}}/{{_id}}">
              <time title="{{createdAt}}">{{fromNow createdAt}}</time>
            </a>
          </div>
        </div>
      </div>
      <div id="showDetails" class="panel-heading" style="cursor: pointer; background-color: #EEE; border: 0px solid #CCC; border-width: 1px 0 1px 0; padding: 2px; padding-left: 6px;">
        <small>
          {{#if showDetails}}
          <span class="glyphicon glyphicon-minus" style="opacity: 0.7;"></span>
          Hide
          {{else}}
          <span class="glyphicon glyphicon-plus" style="opacity: 0.7;"></span>
          Show
          {{/if}}
          details
        </small>
      </div>
    </div>

    {{#momentum plugin="slide-height"}}
    {{#if showDetails}}
    <div class="row panel-body">
      <p class="description col-md-12">{{description}}</p>

      <div class="col-md-12">
        {{> detailsTemplate}}
      </div>

      <div class="col-md-12">
        {{> votebuttons}}
      </div>
    </div>
    {{/if}}
    {{/momentum}}

  </div>
</div>
</template>
