<template name="footer">
    <div class="container footer">
        <hr>

        <div class="left">
            Made with <i class="fa fa-heart"></i> by the <a href="/about#team">Futarchio Team</a>
        </div>

        <div class="right">
            <a href="https://facebook.com/Futarchio">
                <i class="fa fa-facebook-square"></i>
            </a>

            <a href="https://twitter.com/Futarchio">
                <i class="fa fa-twitter-square"></i>
            </a>

            <a href="https://google.com/+Futarchio">
                <i class="fa fa-google-plus-square"></i>
            </a>
        </div>
    </div>
</template>
