<template name="navbar">
<nav class="navbar navbar-default" role="navigation" style="border-bottom-color: #CCC;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand logo">
                <img class="image img-responsive img-circle" src="/favicon.png" alt="logo">
                <span class="title">
                    Futarchio
                </span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/vote">
                        Vote
                        <span class=badge style="background-color: green;">
                            &beta;
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/predict">
                        Predict
                        <span class=badge style="background-color: red">
                            &alpha;
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{> loginButtons }}
            </ul>
        </div>
    </div>
</nav>
</template>
