<template name="newpoll">
<form>
  {{#momentum plugin='slide-height'}}
  {{#if session "formerror"}}
  <p id="form-error-notification" style="color: #f00; padding-left: 5px;">{{session "formerror"}}</p>
  {{/if}}
  {{/momentum}}
  <input id="title" class="form-control input-md" style="border-bottom-left-radius: 0; border-bottom-right-radius:0 ;" type=text placeholder="What is the question?">
  <textarea id="description" class="form-control input" style="border-top-left-radius: 0; border-top-right-radius: 0; resize: vertical;" placeholder="Write a clear and concise description here"></textarea>
  <br>

  <div class=row>
    <div class="col-sm-6">
      <small style="text-align: center; display: block;">
        Voting options
      </small>
      <select id="type" class="form-control input-sm">
        <option value="YesNo">Yes or No</option>
        <option value="YesNoRange">Yes-Unsure-No Range</option>
        <option value="Singlechoice" disabled>Single Choice</option>
        <option value="Multichoice" disabled>Multiple Choice</option>
        <option value="Weight" disabled>Weights</option>
        <option value="Rating" disabled>1 to 10</option>
      </select>
    </div>

    <div class="col-sm-6">
      <small style="text-align: center; display: block;">
        Vote privacy (Not done)
      </small>
      <select disabled class="form-control input-sm">
        <option>Anonymous</option>
        <option>Public</option>
      </select>
    </div>

    <div style="margin-top: 2em">
      <br>
      <br>
      <div class="col-md-4 col-md-offset-4">
        <button id="submit" class="btn btn-success" style="width: 100%">
          Create new poll
        </button>
      </div>
    </div>
  </div>
</form>
</template>
