<template name="poll">
{{> card . details="pollDetails"}}
</template>

<template name="singlePoll">
<div class="container">
  {{> poll}}
</div>
</template>

<template name="pollDetails">
<div class="row">
  <div class=col-md-12>
    {{#if error}}
    <div class="alert alert-danger">
      <b>Error: </b> {{capitalize error}}
    </div>
    {{/if}}

    {{#if currentUser}}
    {{else}}
    <div class="well-sm col-md-offset-3 col-md-6 alert alert-warning text-center">
      Only logged in users can vote
    </div>
    {{/if}}

    <!-- TODO: Different views for different votetypes -->
    <div class="col-xs-9 col-sm-7 col-md-5 col-center">
    </div>

    <div class="row">

      {{#if eq type "YesNo"}}
      <div class="col-xs-6 col-md-3 col-md-offset-3">
        <button value="1" class="vote btn btn-success btn-block">
          Yes
        </button>
      </div>
      <div class="col-xs-6 col-md-3">
        <button value="-1" class="vote btn btn-danger btn-block">
          No
        </button>
      </div>
      {{/if}}

      {{#if eq type "YesNoRange"}}
      <div class="col-xs-12">
        <div class="btn-group center-block">
          {{#each options}}
          <button value="{{score}}"
            class="vote btn
                  {{#if class}}
                    {{class}}
                  {{else}}
                    btn-default
                  {{/if}}" style="width: 11.11%; opacity: {{opacity}}">
            {{#if label}}
              {{label}}
            {{else}}
              {{score}}
            {{/if}}
          </button>
          {{/each}}
        </div>
      </div>
      {{/if}}

    </div>
  </div>

  <div class="col-xs-12">
    <button id="showResults" class="btn btn-xs center-block" style="margin-top: 20px;">
      {{#if showResults}}
      <span>Hide</span>
      {{else}}
      <span>Show</span>
      {{/if}}
      results
    </button>
  </div>

  <!-- TODO: Show results before voting (on demand) -->
  <!-- TODO: Show percentage on hover -->
  <div class=col-md-12>
    <hr>
    <div class="alert alert-success well-sm">You have voted on this poll</div>

    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{t}}" aria-valuemin="0" aria-valuemax="100" style="width: {{trues}}%">
        <b>Yes</b> ({{trues}}%)
      </div>
      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{f}}" aria-valuemin="0" aria-valuemax="100" style="width: {{falses}}%">
        <b>No</b> ({{falses}}%)
      </div>
    </div>
    <div>
      Votes: {{length votes}}<br>
      Rating: {{rating}}
    </div>

    <ul>
      {{#each votes}}
      <li>
        User: {{> userlink userid=createdBy}},
        Value:
        {{#if eq ../type "YesNo"}}
          {{#if eq value 1}}
            YES
          {{else}}
            NO
          {{/if}}
        {{else}}
          {{value}}
        {{/if}}</li>
      {{/each}}
    </ul>
  </div>
</div>
</template>
