<template name="profile">
<div class=col-md-12>
  <div class=profile>
    <div class="col-xs-3">
      <div>
        <!-- TODO: Gravatar hash -->
        <img class=image width="100%" src="http://www.gravatar.com/avatar/{{gravatar_hash}}?s=300">
      </div>
      <h2>{{profile.name}}</h2>
      <h4>@{{profile.username}}</h4>

      Username: {{profile.username}}<br>
      Name: {{profile.name}}<br>
      Email: {{profile.email}}

      <hr>

      Stats will go here!
    </div>

    <div class="col-xs-6">
      User feed will go here!
    </div>

    <div class="col-xs-3">
      Sidebar here
    </div>
  </div>
</div>
</template>
