<template name="profile">
<div class=container>
  <div class="row profile">
    <div class="col-xs-3">
      <div>
        <!-- TODO: Gravatar hash -->
        {{#if profile.email}}
          <img class=image width="100%" alt="profile picture" src="{{gravatarUrl profile.email}}?s=300">
        {{else}}
          <!-- {{! TODO: Fix placeholder image}} -->
          <img class=image width="100%" alt="missing profile picture" src="/favicon.png">
          No profile picture
        {{/if}}
      </div>
      <h2>{{profile.name}}</h2>
      <h4>@{{username}}</h4>

      Username: {{username}}<br>

      {{#if profile.name}}
      Name: {{profile.name}}<br>
      {{/if}}

      {{#if profile.email}}
      Email: {{profile.email}}
      {{/if}}

      <hr>

      Stats will go here!
    </div>

    <div class="col-xs-6">
      User feed will go here!
    </div>

    <div class="col-xs-3">
      Sidebar here
    </div>
  </div>
</div>
</template>
