<template name="statements">
<div class="container">
  <div class="row">
    <div class="col-md-12">
    </div>
    <div class="col-md-6 col-md-offset-3">
      <button id="addbtn" class="btn">
        {{#if showAdd}}
        <span class="glyphicon glyphicon-remove"></span> Cancel
        {{else}}
        <span class="glyphicon glyphicon-plus"></span> Add
        {{/if}}
      </button>
      {{#if showAdd}}
      <br><br>
        {{> newstatement}}
      {{/if}}
      <hr>
    </div>
  </div>

  {{#each statements}}
  <div class="row">
    {{> statement}}
  </div>
  {{/each}}
</div>
</template>
