<template name="statement">
<h3>{{title}}</h3>
<div class=row>
  <div class="col-md-9">
    <small>Created by {{usernameOf createdBy}}</small>
    <br>
    <small title="{{createdAt}}">{{fromNow createdAt}}</small>
    <br>
    <div>
      {{description}}
    </div>
    <br>

    <div>
      {{> votebuttons}}
    </div>
    <br>

    <br>
    <div>
      {{predictionsCount}} Predictions:
      <ul>
        {{#each predictions}}
        <li>
          {{credence}}% by {{usernameOf createdBy}}<br>
          <small>at {{fromNow createdAt}}</small>
        </li>
        {{else}}
        <b>No predictions made on this statement yet, be the first!</b>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="col-md-3">
    <form id="predict">
      <b>Make a new prediction</b>
      <br>
      <i>I believe with...</i>
      <div class="input-group">
        <input id="credence" type=number min=0 max=100 style="text-align: right;" class="form-control input-sm">
        <div class="input-group-addon input-sm">%</div>
      </div>
      <i>...certainty that this statement holds true.</i>
      <br>

      <br>
      <button class="btn btn-success center-block">Predict</button>
    </form>
  </div>
</div>
</template>
